* {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 7vh;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

.text {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.active {
    border-bottom: 3px solid rgb(161, 122, 122);
}