.flex {
    display: flex;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.border {
    border: 2px solid white;
}

.jc {
    justify-content: center;
}

.al {
    align-items: center;
}

.p2 {
    padding: 2px;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.m2 {
    margin: 2px;
}

.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.g5 {
    gap: 5px;
}

.g10 {
    gap: 10px;
}
.space-even {
    justify-content: space-evenly;
}